<div class="col s12 m4">
	<div class="card hoverable">
		<div class="card-image">
			<a href="{{link}}">
				<img src="{{image}}">
			</a>
			<div class="fixed-action-btn horizontal">
				<a class="btn-floating btn-large yellow darken-2">
					<i class="large material-icons">comment</i>
				</a>
				<ul>
					<li>
						<a class="btn-floating tooltipped red newComment" data-position="top" data-delay="10" data-tooltip="New Comment" data-postid="{{postID}}">
							<i class="material-icons">add</i>
						</a>
					</li>
					<li>
						<a class="btn-floating tooltipped green viewComments" data-position="top" data-delay="10" data-tooltip="View Comments" data-postid="{{postID}}">
							<i class="material-icons">pageview</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="card-content">
			<a class="black-text" href="{{link}}" target="topgear">
				<span class="card-title">
					<strong>{{title}}</strong>
				</span>
			</a>
			<p class="card-descritpion">{{description}}</p>
		</div>
		<div class="card-action">
			<a href="{{authorLink}}">{{authorName}}</a>
			<span class="right">{{date}}</span>
		</div>
	</div>
</div>